.git
.idea
supervised-learning/imdb-review-classification/movie_data.csv
__pycache__/
deep-learning/mnist_classification/MNIST
deep-learning/CelebA-attributes-classification/archive
deep-learning/satellite-images-cloud-segmentation/archive
deep-learning/imdb_analysis_BERT/finetuned_imdb_bert
/NLP-with-transformers/BERT_spanish_sentence_acceptability/model_weights_parallel.pth
/NLP-with-transformers/BERT_spanish_sentence_acceptability/model_weights_parallel_2.pth
